.vite-ssg-temp

node_modules
.DS_Store
dist
dist-ssr
*.local

# lock
yarn.lock
package-lock.json
pnpm-lock.yaml

*.log
/.vscode/
/.github/
/.idea/modules.xml
/.idea/vcs.xml
/.idea/element-plus-vite-starter.iml
/.idea/inspectionProfiles/Project_Default.xml
